*{
	margin:0;
	padding: 0;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.wrapper{
	width: 600px;
	margin: 20px auto;
}
.tabla{
	margin:20px auto;
	display: table;
	border-collapse: collapse;
}
.fila{
	display: table-row;
}
.celda{
	display: table-cell;
	padding: 10px;
	width: 300px;
	border: 1px solid black;
	background-color: #ccc;
	vertical-align: middle;
}
.izda{
	width: 150px;
	text-align: right;
	padding-right: 0px;
}
input[type="text"]{
	margin:20px 0px;
}
input[name="agno"]{
	width: 60px;
}
input[type="radio"]:nth-child(2){
	margin-left: 60px;
}
p{
		width: 100px;
		margin:5px 0;

}
button{
	margin:20px 250px;
	width: 150px;
	height: 30px;
	border-radius: 5px;
}
.celda>div{
	margin:10px 0px;
	line-height: 59px
}
.izda>div{
	line-height:1em;
	text-align: right;
	margin:30px 0px;
}
.direccion{
	width: 173px;
	height: 120px;
}